#simply-exclude-help-modal .simply-exclude-help-inner {
	box-sizing: border-box;
}
#simply-exclude-help-modal #simply-exclude-help-close {
	background: transparent;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.simply-exclude-help.dashicons {
	font-size: 16px;
	vertical-align: middle;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-left: 6px;
}
